body {
  margin: 0;
  padding: 0;
  background: #ffffff url(../img/bg.png) no-repeat 0 0;
  font: 400 14px "Open Sans", sans-serif;
}

a {
  color: #c73d35;
  font-weight: bold;
}
a:hover {
  color: #666666;
}

.title {
  font: 700 48px "Open Sans", sans-serif;
  color: #999999;
  text-transform: uppercase;
  text-align: center;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto 30px;
  padding: 70px 15px 30px;
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 0 13px #000000;
  font-size: 0;
  display: table;
}

.header {
  position: absolute;
  top: 20px;
  right: 0;
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__listItem {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  height: 30px;
  line-height: 30px;
}

.header__listItemA {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 230px;
  margin: -120px 0 0;
}
.sidebar__avatar {
  margin-left: -15px;
}
.sidebar__social {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar__socialItem {
  display: inline-block;
  vertical-align: top;
}
.sidebar__news {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar__newsTitle {
  font-size: 16px;
}
.sidebar__newsItem {
  font-size: 0;
  display: table;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px dashed #666666;
  font-weight: bold;
}
.sidebar__newsItem._last {
  border: none;
}
.sidebar__newsItemImg {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  font-weight: bold;
}
.sidebar__newsItemText {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
.sidebar__newsItemTextA {
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}

.content {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 680px;
  margin-left: 20px;
  padding: 15px 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, .7);
  border: 2px solid #cccccc;
  border-radius: 2px;
}
.content__text {
  color: #666666;
}
.content__text._bold {
  font-weight: bold;
}
.content__img {
  display: block;
  margin: 30px auto;
}
.content__imgA {
  display: block;
}
.content__list {
  color: #666666;
}

.comment-block__title {
  padding-bottom: 20px;
  font: 400 italic 28px "Open Sans", sans-serif;
  border-bottom: 3px dotted #cccccc;
}

.comment {
  margin-top: 20px;
  font: 400 0 "Open Sans", sans-serif;
  display: table;
}
.comment__author {
  margin: 0 0 15px 120px;
  font-style: italic;
  font-size: 0;
  display: table;
}
.comment__authorName {
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  margin: 0 10px 0 0;
}
.comment__authorDate {
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
}
.comment__avatar {
  display: inline-block;
  vertical-align: top;
}
.comment__text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 750px;
  min-height: 100px;
  padding: 15px;
  font: 400 16px/20px "Open Sans", sans-serif;
  margin: 0 50px;
  border: 1px solid #cccccc;
}
.comment__text::before {
  position: absolute;
  top: 10px;
  left: -15px;
  content: "";
  width: 15px;
  height: 19px;
  background: #ffffff url(../img/arrow.svg) no-repeat 50% 50%;
}
.comment__text._topicAuthor::before {
  display: none;
}
.comment__text._topicAuthor::after {
  position: absolute;
  top: 10px;
  right: -15px;
  content: "";
  width: 15px;
  height: 19px;
  background: #ffffff url(../img/arrow.svg) no-repeat 50% 50%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.comment__img {
  display: block;
  margin: 10px auto;
}

footer p {
    color: #000;
    text-align: center;
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    padding-top: 15px;
  }
  .sidebar {
    display: none;
  }
  .header {
    position: relative;
    top: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
  .content {
    width: 100%;
    margin: 0;
  }
  .content__img {
    width: 70%;
  }
  .comment {
    width: 100%;
  }
  .comment__text {
    width: 80%;
    margin: 0 0 0 50px;
  }
  .comment__text._topicAuthor {
    margin: 0 50px 0 0;
  }
  .comment__img {
    width: 60%;
  }
}
.btn_wrap{
  text-align: center;
}
.btn{
  display: inline-block;
  padding: 20px 30px;

  color: #111;
  text-transform: uppercase;
  font-size: 24px;
  border: 1px solid #8C8C8C;
  margin: 20px 0;

  text-decoration: none;
  font-weight: bold;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;

  border-radius: 5px;
}
.btn:hover{
  background: #111;
  color: #FAEADF


}


@media screen and (max-width: 650px) {
  .comment:nth-last-child(n+7) {
	  display: none
  }
  .comment__avatar {
    width: 13%;
  }
  .comment__text {
    margin: 0 0 0 15px;
  }
  .comment__text._topicAuthor {
    margin: 0 15px 0 0;
  }
  .comment__authorDate {
    display: block;
  }
}
  